.flightContainer {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.flightContainer ul {
  list-style: none;
}

.card {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(250, 249, 246);
  color: #3c3c39;
  font-weight: 600;
}

.column {
  flex: 1;
}

.outDep,
.outArr,
.inDep,
.inArr {
  display: flex;
  flex-direction: column;
}

.price,
.airline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.price {
  border-left: 1px dashed grey;
  font-weight: 600;
}

.airline {
  border-right: 1px dashed grey;
}

.destination p {
  margin: 0px;
}

.out {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}

.in {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}
